@charset "utf-8";
@import "normalize";

.container {
  position: relative;
  @media (min-width: 768px) {
    position: static;
  }
}

.contents {
  position: static;
  @media (min-width: 768px) {
    position: relative;;
  }
}

.sidebar {
  font-size: 16px;
  line-height: 1.6;
  margin: -10px -15px 0;
  background-color: #fcfcfc;
  padding-left: 0px;
  ul {
    padding-left: 0px;
    list-style-type: none;
  }
  li {
    border-top: 1px solid #efefef;
    &.children {
      padding-left: 20px;
    }
    &:first-child {
      border-top: none;
    }
    a {
      color: #4c515f;
      display: block;
      padding: 0.34em 0.5em;
      transition: all 0.15s ease;
      background-color: transparent;
      &:active, &.active, &:hover {
        background: #e9e7fc;
      }
    }
  }
  .subtitle {
    padding-left: 0.3em;
  }

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1000;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  @media (min-width: 768px) {
    position: relative;
    background-color: transparent;
    display: block;
    padding-left: 30px;
    li {
      border-left: 2px solid #efefef;
      &.children {
        border-left: none;
      }
    }
    .subtitle {
      padding-left: 0;
    }
  }
}

.main {
  .body-item {
    padding-bottom: 15px;
  }
  @media (min-width: 768px) {
    margin-left: 0;
  }
}

nav {
  @media (min-width: 768px) {
    display: none;
  }
  display: block;
  border: 1px solid transparent;
}

a {
  color: #4280ca;
  text-decoration: none;
  transition: color 0.1s linear;
  &:active, &:focus, &:hover {
    color: #234f85;
    outline: none;
    text-decoration: none;
  }
}

.header {
  @media (min-width: 768px) {
    display: block;
    margin: 20px;
  }
  display: none;
}

.footer {
  text-align: center;
}

.row {
  margin: 10px 0;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
